body{
    font-size: 50px;
    text-align: center;
    background-color: grey;
    color: white;
}
button{
    height: 50px;
    width: 130px;
    font-size: 20px;
    
}
button a{
    text-decoration: none;
    color: black;
    text-align: center
    ;
}
button:hover{
    background-color: grey;
}